/* Estilo comum para a frente e as costas da calculadora */
.calculadora {
  height: 420px;
  padding: 30px;
  width: 330px;
  border-radius: 40px;
  background-color:rgb(250, 249, 246);
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 60px;
  position: relative;
  transition: transform 1s ease;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  font-family: 'Open Sans', sans-serif;
  margin-left: 80px;
  margin-top: 30px;
}

.resultado-costas h3 {
  /* Estilos para o título "Parabéns!" */
  color: #0066ff;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.resultado-costas .valor-economia {
  /* Estilos para o valor economizado */
  font-size: 34px;
  font-weight: bold;
  color: #72767c;
  margin-top: 0px;
}

.resultado-costas p {
  /* Estilos para o texto explicativo */
  font-size: 18px;
  color: #0f0130;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.resultado-costas button {
  /* Estilos do botão "Voltar" */
  background-color: #FF5722;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
}

.resultado-costas .lead-message {
  /* Estilos para a mensagem de captura de lead */
  font-size: 14px;
  color: #FF5722;
  margin-top: 10px;
}

.calculadora h3 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(18, 6, 83);
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

.calculadora .btnCalcular {
  margin: 20px 50px 10px 100px;
  height: 40px;
  width: 160px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: rgb(255, 109, 46,1);
  border-style: none;
  color: #FFF;
  cursor: pointer;
}

label {
  text-transform: uppercase;
  padding: 4px;
  font-family: 'Open Sans', sans-serif;  
  font-weight: bold;
}

.subtitulo {
  padding: 5px;
  text-transform: lowercase;
  font-size: 12px;
  color: gray;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-left: 25px;
}

.fail-message {
  color: red;
  font-size: 12px;
  margin-left: 25px;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  color: black;

}

h1{
  text-align: center;
  text-transform: uppercase;
  color: rgb(17, 21, 59);
  font-family: 'Open Sans', sans-serif;
}

.calculadora .btnVoltar {
  background-color: rgb(8, 10, 85);
  color: #fff;
  font-size: 12px;
  height: 25px;
  width: 90px;
  text-align: center;
  display: flex;
  justify-content: flex-end; /* Alinha o botão à direita */
  align-items: center; /* Centraliza verticalmente o conteúdo do botão */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Adicionar espaçamento para melhor posicionamento */
  margin-left: auto; /* Este valor pode ser ajustado conforme necessário */
}

/* Efeito no hover (opcional) */
.calculadora .btnVoltar:hover {
  background-color: rgb(0, 0, 100);
  cursor: pointer;
}
