.services-content{
    /*background-color: rgb(207, 219, 230);*/
    background-color: rgb(191, 198, 207);
    
    margin: 100px 50px 20px 50px;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin: 200px 20px 20px 20px;

}

.services-content h2{
    padding: 10px;
    background-color: rgb(12, 46, 93);
    border-radius: 10px;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}