.services-content{
    background-color: rgb(207, 219, 230);
    margin: 100px 50px 20px 50px;
    padding: 30px;
}

.services-content h2{
    padding: 10px;
    background-color: rgb(191, 198, 207);
}