.sectionHome{
    padding: 50px;  
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('../../assets/predio.jpeg');
    position: relative;
}

.sectionHome::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
  }

.overlay {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Define a cor de sobreposição com transparência */
}

.title-calc{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #1d0957;
}

.area-calculadora{
    display: flex;
    justify-content: center;
    align-items: center;
}