.participacao-remunerada {
    display: flex;
    gap: 20px;
  }
  
  .login-section {
    flex: 1;
    padding: 20px 20px 20px 20px;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    margin: 100px 20px 20px 20px;
  }
  
  .description-section {
    flex: 1;
    padding: 150px 50px 50px 50px;
    background-color: #f7f7f7;
    /*border: 1px solid #ccc;*/
    border-radius: 15px;
    margin: 20px 20px 20px 20px;
  }
  
  .description-section h2 {
    color: #007bff;
  }
  
  .description-section p {
    font-size: 16px;
  }
  
  .participacao-remunerada h2{
    text-align: center;
    text-transform: uppercase;
    color: rgb(18, 6, 83);
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
  }

  .participacao-remunerada p{
    text-align: center;
    text-transform: uppercase;
    color: rgb(18, 6, 83);
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;

  }