body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /*font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;*/
    font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

section {
  margin-top: 90px; /* ajuste o valor conforme necessário */
}


input {
  border: none; /* Remove a borda do campo de input */
  background-color: #b0beec; /* Define a cor de fundo do campo de input */
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  /* Outros estilos personalizados */
}

