/* VideoBackground.css (ou o nome do seu arquivo de estilo) */
.video-background {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Correção: trocar 'vw' por 'vh' */
  z-index: -1;
  overflow: hidden;
}
